Presentations
Data
2010_Cao et al._Forensic Detection of Median Filtering in Digital Images.pdf
caoICME10.m
Figure_1.png
Figure_2.png
Figure_3.png
Figure_4.png
Figure_5.png
Figure_1.py
Figure_2.py
Figure_3.py
Figure_4.py
Figure_5.py
test.m
test_copy.png
ucid00001.tif